@inherits LayoutComponentBase

<div class="page">

    <main>
       

        <div >
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Today</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hourly">Hourly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="daily">Daily</a>
                </li>

            </ul>
        </div>

        <RadzenDialog />
        <article class="content px-4">
            @Body
           
        </article>
    </main>
</div>
